@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(102,34,204,1) 35%, rgba(167,85,194,1) 100%);
  color: #F8F7FF;
  height: 100vh;
  width: 100vw;
}

p {
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #F8F7FF;
  font-size: 2rem;
}

button > i {
    pointer-events: none;
} 

#reset {
  margin-left: 1rem;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  min-width: 350px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 10px 3px #000000;
  box-shadow: 0px 0px 10px 3px #000000;
}

#time-left {
  font-size: 4rem;
}

#break {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

#break-label {
  grid-column: 1/4;
}

#break-increment {
  grid-column: 1/2 ;
  grid-row: 2/3;
}

#break-decrement {
  grid-column: 3/4 ;
  grid-row: 2/3;
}

#break-length {
  grid-column: 2/3;
  grid-row: 2/3;
}

#session {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

#session-label {
  text-align: center;
  grid-column: 1/4;
}

#session-increment {
  grid-column: 1/2 ;
  grid-row: 2/3;
}

#session-decrement {
  grid-column: 3/4 ;
  grid-row: 2/3;
}

#session-length {
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}
